<h1>Let's Grill This!</h1>

<h2>Throw it on the grill</h2>

<ul>
  {{#each foods}}
    {{#unless grilled}}
      {{> foods/food-block grill=true}}
    {{/unless}}
  {{/each}}
</ul>

<h2>Save it for later</h2>

<ul>
  {{#each foods}}
    {{#if grilled}}
      {{> foods/food-block grill=false}}
    {{/if}}
  {{/each}}
</ul>

<h2>Add a food</h2>
<form class="create-form">

  <div class="form-group">
    <label for="ca">Food Item:</label>
    <input type="text" id="ca" name="name">
  </div>

  <div class="form-group">
    <label for="grilled">Grill It?</label><br>
    <input type="radio" name="grilled" value="1" checked> Throw it on the grill!<br>
    <input type="radio" name="grilled" value="0">Save it for later
  </div>

  <button type="submit">Add Food</button>
</form>
